*{
	margin: 0;
	padding: 0;
}

.topo{
	height: 110px;
	background:linear-gradient(to top,#e5e7e7, white,white, #e5e7e7) ;

}

.topo_int{
	width: 100%;
	max-width: 980px;
	margin: auto;
	display: flex;
	height: 110px;
}

.logo{
	display: flex;
	flex:1;
	padding-top: 10px;
}

.logo img{

}

.menu{
	display: flex;
	flex:2;
	height: 30px;
	justify-content: center;
	margin-top: 40px;


}

.menu ul {
	list-style: none;
	position: relative;
	display: flex;
}



.menu ul li {
	width: 140px;
	justify-content: flex-end;
	text-align: center;


}

.menu a {
	text-decoration: none;
	line-height: 30px;
	color: #a9aaab;
	cursor: pointer;
	font-size: 15px;

}

.menu ul li:hover{
	background-color:#e5e7e7;
}

#inicio{
	background-color:#e5e7e7;
}

.banner{
	height: 488px;
	width: 100%;
	background-image: url(../img/balloons-can-be-seen-from-all-over-the-city-during-the-abq-photo-by-ron-behrmann.jpg);
	background-position: center;
	background-size: cover;

}

.banner_int{
	width: 100%;
	max-width: 980px;
	margin: auto;
	display: flex;
}

.texto{
	height: 270px;
	width: 730px;
	margin-top: 100px;


}

#quebra1{
	height: 2px;
	background-color: white;
	width: 70%;
}

h1{
	font-size: 52px;
	font-family: Raleway;
	color: white;
}

#quebra2{
	height: 2px;
	background-color: white;
	width: 78%;
}

#quebra3{
	height: 2px;
	background-color: white;
	width: 50%;
}

.roteiro_1{
	height: 362px;

}

.roteiro_1_int{
	width: 100%;
	max-width: 980px;
	margin: auto;
	display: flex;
	height: 362px;
}

article{
	flex: 1;
	max-width: 687px;
	margin: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
}


article .roteiro img{
	width: 100%;
	height: 190px;

}

article .roteiro_cont{
	height: 50px;
	display: flex;
}

article #img_log{
	flex: 1;
	display: flex;
	align-items: center;
}

article #roteiro_dest{
	flex: 6;
	display: flex;
	flex-direction: column;
}

#tittle{
	font-size: 14px;
	font-family: Raleway;
	font-style: normal;
	color: #726277;
	padding-top: 5px;
}

#quebra3{
	height: 1px;
	width: 100%;
	background-color: #726277;
	margin-top: 3px;
	margin-bottom: 3px;
}


#local{
	display: flex;
	justify-content: space-between;
}

#localizacao{
	color: #726277;
	font-size: 18px;
	font-style: italic;
}

#btn_btn{
	height: 16px;
	width: 125px;
	color: white;
	background-color: #726277;
	font-size: 10px;
	border:none;
	border-radius: 10px;
}

#dias{
	height: 60px;
	width: 60px;
	background-color: #CABDCD ;
	margin-right: 20px;
	text-align: center;
	line-height: 28px;
	font-size: 20px;
	font-family: Courier New;
}

.roteiro_2{
	height: 362px;
	background-color: #F8F5EF;

}

.roteiro_2_int{
	width: 100%;
	max-width: 980px;
	margin: auto;
	display: flex;
	height: 362px;
}


.rodape{
	height: 239px;
	background-color: #cabdcd;
}

.rodape_int{
	width: 100%;
	max-width: 980px;
	margin: auto;
	display: flex;
	height: 239px;
}

#contato,#form,#social{
	display: flex;
	flex:1;
}

#contato{		
	display: flex;
	flex-direction: column;
}

#contato_end,#creditos{
	height: 41px;
	font-size: 12px;
	color: white;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

#quebra6{
	border:1px dashed white;
	height: 1px;
}

#form{
	display: flex;
	flex: 1;
	border-left: 1px dashed white;

}

input{
	height: 15px;
	margin-top: 10px;
	width: 80%;
	margin-left: 15px;

}

textarea{
	height: 100px;
	width: 80%;
	margin-top: 10px;
	margin-left: 15px;
}

#enviar{
	height: 20px;
	width: 40%;

}

#social{
	flex-direction: column;
	display: flex;
	
}

#social_img img{
	height: 50px;
	width: 52px;
	
}

#social_img{
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

#quebra5{
	border:1px dashed white;
	height: 1px;
	margin-top: 30px;
}

.contact{
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

.contact img{
	height:30px; 
	width:30px;
	
}

#titulo_roteiro{
	height: 60px;
}

#titulo_roteiro_int{
	width: 100%;
	max-width: 980px;
	margin: auto;
	display: flex;
	height: 60px;
	font-size: 30px;
	font-family: Raleway;
	color: #726277;
	padding-top: 30px;
}

